@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Roboto-Bold.ttf) format('truetype');
}

::-moz-selection,
::selection {
  background: var(--c-selection);
}

#__nuxt {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;

  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  -webkit-tap-highlight-color: transparent;
  background: var(--c-slate-600);
}

html {
  --at-apply: bg-base text-base;
  font-family: Roboto;
  color: var(--c-slate-100);
}

a {
  color: #fff;
  cursor: pointer;
}

input {
  outline: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.skeleton-loading-bg {
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 0.2) 25%,
    rgba(129, 129, 129, 0.24) 37%,
    rgba(190, 190, 190, 0.2) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
